In [30]:
#Scikit-learn分类任务完整流程指南
import numpy as np
import pandas as pd
from sklearn import pipeline
from sklearn.model_selection import train_test_split, GridSearchCV, StratifiedKFold, cross_val_score, cross_val_predict

In [31]:
#1. 将数据加载到Pandas DataFrame
data = pd.read_csv('studentmat.csv', sep=';')

In [8]:
data.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [32]:
data.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [45]:
# 2. 分离特征(X)和目标变量(y)
X=data.drop(['G1','G2','G3'],axis=1)
y=data['G3']

In [46]:
# 按80-20划分训练测试集(random_state=42)
X_numeric = X.select_dtypes(include=['int64', 'float64'])

X_train, X_test, y_train, y_test = train_test_split(X_numeric, y, test_size=0.2, random_state=42)

In [47]:
# 4. 使用StandardScaler标准化特征
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaler = scaler.fit_transform(X_train)
X_test_scaler = scaler.transform(X_test)

In [48]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score

 # -线性回归
model_lr = LinearRegression()
model_lr.fit(X_train_scaler, y_train)
y_pred_lr = model_lr.predict(X_test_scaler)

 # -决策树
model_dt = DecisionTreeRegressor()
model_dt.fit(X_train_scaler, y_train)
y_pred_dt = model_dt.predict(X_test_scaler)

In [51]:
# 计算各模型的MSE分数
print(f"线性回归-MSE: {mean_squared_error(y_test, y_pred_lr)}")
print(f"线性回归-R^2: {r2_score(y_test, y_pred_lr)}")

print(f"\n决策树-MSE: {mean_squared_error(y_test, y_pred_dt)}")
print(f"决策树-R^2: {r2_score(y_test, y_pred_dt)}")

线性回归-MSE: 18.089574993693354
线性回归-R^2: 0.11779891276497823

决策树-MSE: 28.39240506329114
决策树-R^2: -0.38465445566217604

In [54]:
#构建二次多项式回归管道
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np

In [62]:
poly_model = Pipeline([
        ('poly', PolynomialFeatures(degree=2, include_bias=False)),
        ('scaler', StandardScaler()),   # 对新生成的多项式特征再做一次标准化
        ('linreg', LinearRegression())
    ])

In [63]:
#训练及预测
poly_model.fit(X_train, y_train)
y_pred_poly = poly_model.predict(X_test)

In [64]:
# 4. 评估
print(f"多项式回归-MSE: {mean_squared_error(y_test, y_pred_poly)}")
print(f"多项式回归-r^2: {r2_score(y_test, y_pred_poly)}")

多项式回归-MSE: 29.143047419426527
多项式回归-r^2: -0.4212621428487555

In [66]:
#优化后的代码
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

In [119]:
# 1. 读数据
df = pd.read_csv('studentmat.csv', sep=';')

# 2. 特征 / 标签
X = df.drop(columns=['G1', 'G2', 'G3'])   # 去掉所有成绩列，仅保留其他信息
y = df['G3']

# 仅保留数值型特征
X_num = X.select_dtypes(include=['int64', 'float64'])

# 3. 划分训练 / 测试集
X_train, X_test, y_train, y_test = train_test_split(
    X_num, y, test_size=0.2, random_state=42
)

In [212]:
# 4. 定义模型管道
models  ={
      '线性回归': Pipeline([
          ('scaler', StandardScaler()),
          ('regressor', LinearRegression())
       ]),
       '决策树': Pipeline([
          ('scaler', StandardScaler()),
          ('regressor', DecisionTreeRegressor())
       ]),
        '多项式回归': Pipeline([
        ('poly', PolynomialFeatures(degree=2, include_bias=False)),
        ('scaler', StandardScaler()),
        ('reg', LinearRegression())
       ])
}

In [213]:
# 5. 训练 + 评估
def evaluate(name, model, X_tr, y_tr, X_te, y_te):
    model.fit(X_tr, y_tr)
    y_pred = model.predict(X_te)
    mse = mean_squared_error(y_te, y_pred)
    r2 = r2_score(y_te, y_pred)
    print(f"{name}  MSE: {mse:.3f}    R²: {r2:.3f}")

for name, model in models.items():
    evaluate(name, model, X_train, y_train, X_test, y_test)

线性回归  MSE: 18.090    R²: 0.118
决策树  MSE: 31.696    R²: -0.546
多项式回归(2阶)  MSE: 29.143    R²: -0.421

In [218]:
evaluate('线性回归', LinearRegression(), X_train, y_train, X_test, y_test)
evaluate('决策树', DecisionTreeRegressor(), X_train, y_train, X_test, y_test)

线性回归  MSE: 18.090    R²: 0.118
决策树  MSE: 32.873    R²: -0.603